* {
    box-sizing: border-box;
}
h1 {
    color: #03315c;
}

h2 {
    color: #06437c;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: ;
    color: #343A40; 
    background-color: #E1E8EB;

}

/* this is for the form */

.form {
    max-width: 600px;
    margin: auto;
    
}

.divTop {
    margin-top: 20px;
}

.label {
    padding-right: 10px;
}

#desiredCareer {
    margin-top: 15px;    
}

/* this is for the table */

.table {
    border-spacing: 1rem;
    text-align: left;
    table-layout: auto;
    width: 50%;
    border: 1px solid #03315c;
    margin: auto;
}

.captionTable {
    color:  #06437c;
}

.tableHeader {
    background-color: #767b7e49;
}

/* this is for the flex box */

.flexContainer {
    display: flex;
    justify-content: flex-start
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    min-height: 420px;
    border: 1px solid black;
}

.flexItem:nth-child(3) {
    background-color: #91bae0;
    color:#03315c;
}

.flexItem {
    width: 200px;
    height: 200px;
    background-color:#06437c;
    color: white;
    border: 1px solid black;
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
}
